# Week 3: Data Wrangling

In [7]:
# We are setting up the environment with all the packages we could possibly need
# For pandas documentation, see https://pandas.pydata.org/pandas-docs/stable/api.html#dataframe
# For matplotlib documentation, see https://matplotlib.org/api/pyplot_summary.html

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

We are reading the data in from the URL at which they are stored.

In [6]:
url = "https://raw.githubusercontent.com/shstreuber/Data-Mining/master/data/adult.data.simplified.csv"
adult = pd.read_csv(url)
adult

,age,workclass,education,educationyears,maritalstatus,occupation,relationship,race,sex,hoursperweek,nativecountry,incomeUSD
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,43747
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,38907
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,25055
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,26733
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,23429
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,36970
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,16,Jamaica,45531
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,103612
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States,64478
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,87200
10,37,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,80,United-States,167514
11,30,State-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,40,India,189843
12,23,Private,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,30,United-States,35813
13,32,Private,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,50,United-States,22373
14,40,Private,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,40,?,115887
15,34,Private,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,45,Mexico,26294
16,25,Self-emp-not-inc,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,35,United-States,36496
17,32,Private,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,40,United-States,21612
18,38,Private,11th,7,Married-civ-spouse,Sales,Husband,White,Male,50,United-States,23383
19,43,Self-emp-not-inc,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,45,United-States,137281
20,40,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,60,United-States,96050
21,54,Private,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,20,United-States,45278
22,35,Federal-gov,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,40,United-States,37318
23,43,Private,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,40,United-States,46082
24,59,Private,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,40,United-States,43226
25,56,Local-gov,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,40,United-States,178573
26,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,40,United-States,20810
27,54,?,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,60,South-Africa-Africa,134092
28,39,Private,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,80,United-States,22624
29,49,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,34644
...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,99,United-States,38437
32532,34,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,60,United-States,127449
32533,54,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,50,Japan,198066
32534,37,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,39,United-States,48904
32535,22,Private,12th,8,Never-married,Protective-serv,Own-child,Black,Male,35,United-States,24521
32536,34,Private,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,55,United-States,122333
32537,30,Private,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,46,United-States,27847
32538,38,Private,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,45,United-States,68279
32539,71,?,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,10,United-States,137903
32540,45,State-gov,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,40,United-States,38437
32541,41,?,HS-grad,9,Separated,?,Not-in-family,Black,Female,32,United-States,49196
32542,72,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,25,United-States,41315
32543,45,Local-gov,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,48,United-States,47033
32544,31,Private,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,30,United-States,40654
32545,39,Local-gov,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,20,United-States,128517
32546,37,Private,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,40,United-States,29771
32547,43,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,Mexico,35346
32548,65,Self-emp-not-inc,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,60,United-States,21739
32549,43,State-gov,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,40,United-States,36641
32550,43,Self-emp-not-inc,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,50,United-States,23296
32551,32,Private,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,40,United-States,42290
32552,43,Private,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,45,United-States,45317
32553,32,Private,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,11,Taiwan,33637
32554,53,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,135378
32555,22,Private,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,40,United-States,44367
32556,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,41636
32557,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,87811
32558,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,46073
32559,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,29618
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,196782

## Slicing in Pandas
Slicing and subsetting are related. While Slicing requires indexing, which we will see below iwht the iloc operator, subsetting does not require indexing. Subsetting is explained here: https://cmdlinetips.com/2018/02/how-to-subset-pandas-dataframe-based-on-values-of-a-column/
We will select what we need from both and apply it to the adult dataframe.

In [8]:
# Looking at only the first 5 rows
adult.iloc[0:5,]

,age,workclass,education,educationyears,maritalstatus,occupation,relationship,race,sex,hoursperweek,nativecountry,incomeUSD
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,43747
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,38907
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,25055
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,26733
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,23429

In [9]:
# Looking at only those rows with people who are 90 years old
# Try this out with <= 90 or >= 75, as well
adult[adult['age'] == 90]

,age,workclass,education,educationyears,maritalstatus,occupation,relationship,race,sex,hoursperweek,nativecountry,incomeUSD
222,90,Private,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,40,United-States,36040
1040,90,Private,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,40,United-States,24955
1935,90,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,43154
2303,90,Private,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,35,United-States,29655
2891,90,Private,Some-college,10,Separated,Adm-clerical,Own-child,White,Female,40,Puerto-Rico,20750
4070,90,Private,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,40,United-States,47745
4109,90,?,Bachelors,13,Widowed,?,Other-relative,White,Female,10,United-States,28674
5104,90,Private,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,35,United-States,24933
5272,90,Private,9th,5,Never-married,Adm-clerical,Not-in-family,White,Female,40,United-States,40440
5370,90,Local-gov,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,60,United-States,119802
5406,90,Private,Masters,14,Never-married,Exec-managerial,Not-in-family,Black,Male,50,United-States,124209
6232,90,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,50,United-States,22426
6624,90,Private,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,40,United-States,26540
8806,90,Private,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,72,United-States,60349
8963,90,?,HS-grad,9,Widowed,?,Not-in-family,White,Female,40,United-States,27959
8973,90,Private,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,15,United-States,97437
10210,90,Self-emp-not-inc,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,40,United-States,29158
10545,90,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,50,Ecuador,57962
11512,90,Private,HS-grad,9,Never-married,Other-service,Own-child,White,Female,24,United-States,38622
11731,90,?,HS-grad,9,Widowed,?,Not-in-family,White,Male,4,United-States,24170
11996,90,Private,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,55,United-States,35378
12451,90,?,Some-college,10,Never-married,?,Own-child,Asian-Pac-Islander,Male,10,South-Africa-Africa,36138
12975,90,Private,10th,6,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,48587
14159,90,Local-gov,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,20,Philippines,20423
15356,90,Private,HS-grad,9,Widowed,Transport-moving,Unmarried,White,Male,99,United-States,35966
15892,90,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,England,169026
18277,90,Private,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,20,?,28148
18413,90,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,10,United-States,42803
18725,90,Local-gov,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,40,United-States,32402
18832,90,Private,Masters,14,Never-married,Exec-managerial,Own-child,White,Female,40,United-States,41390
19212,90,Private,Some-college,10,Divorced,Sales,Unmarried,Black,Female,37,United-States,46236
19489,90,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,39146
19747,90,Private,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,27772
20610,90,Private,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,40,United-States,114687
22220,90,Private,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,40,United-States,29275
24043,90,Self-emp-not-inc,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,12,United-States,39158
24238,90,?,1st-4th,2,Widowed,?,Not-in-family,Black,Female,40,United-States,46086
25303,90,?,7th-8th,4,Separated,?,Not-in-family,White,Female,15,United-States,23404
28463,90,Federal-gov,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,30,United-States,30260
31030,90,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,47300
31696,90,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,40,United-States,144467
32277,90,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,25,United-States,49412
32367,90,Local-gov,7th-8th,4,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,27600

In [0]:
# If you are filtering for strings, the strings need to be in single or double quotes ''
adult[adult['education'] == 'Bachelors']

,age,workclass,education,educationyears,maritalstatus,occupation,relationship,race,sex,hoursperweek,nativecountry,incomeUSD
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,43747
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,38907
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,23429
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,87200
11,30,State-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,40,India,189843
12,23,Private,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,30,United-States,35813
25,56,Local-gov,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,40,United-States,178573
32,45,Private,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,40,United-States,40889
41,53,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,40,United-States,21545
42,24,Private,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,50,United-States,36484
45,57,Federal-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,40,United-States,59836
53,50,Federal-gov,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,55,United-States,123893
60,30,Private,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,40,United-States,30820
71,31,Private,Bachelors,13,Separated,Sales,Own-child,Black,Female,40,United-States,33571
72,29,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,70,United-States,190337
81,52,Private,Bachelors,13,Married-civ-spouse,Other-service,Husband,White,Male,40,Cuba,38723
94,34,Local-gov,Bachelors,13,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,155965
101,44,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,60,United-States,87135
110,24,Private,Bachelors,13,Never-married,Sales,Other-relative,White,Male,40,United-States,43800
121,40,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,60,United-States,45867
122,30,Private,Bachelors,13,Never-married,Exec-managerial,Own-child,Black,Male,40,Germany,37137
123,29,State-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,50,United-States,85850
125,47,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,84898
133,37,Private,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,50,United-States,29738
152,33,Private,Bachelors,13,Never-married,Exec-managerial,Other-relative,Asian-Pac-Islander,Female,40,Philippines,42226
156,23,Private,Bachelors,13,Never-married,Handlers-cleaners,Not-in-family,White,Male,40,United-States,32933
159,42,Private,Bachelors,13,Separated,Other-service,Other-relative,Black,Male,50,United-States,43799
173,27,Private,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,50,United-States,20076
174,28,State-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,40,United-States,87226
179,33,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,65,United-States,39286
...,...,...,...,...,...,...,...,...,...,...,...,...
32341,74,Self-emp-not-inc,Bachelors,13,Widowed,Craft-repair,Not-in-family,White,Male,8,Germany,114435
32344,34,Private,Bachelors,13,Married-spouse-absent,Adm-clerical,Not-in-family,White,Female,45,United-States,31107
32347,36,State-gov,Bachelors,13,Married-civ-spouse,Adm-clerical,Wife,White,Female,20,United-States,74759
32348,44,Private,Bachelors,13,Married-civ-spouse,Transport-moving,Husband,White,Male,55,United-States,48967
32371,49,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,60,Scotland,52341
32373,22,Private,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,40,United-States,31228
32383,28,Federal-gov,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,50,United-States,26976
32393,43,Private,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,34465
32399,42,Private,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,40,United-States,96331
32408,30,Private,Bachelors,13,Never-married,Sales,Not-in-family,White,Male,40,United-States,27006
32418,26,Private,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,40,United-States,36935
32419,36,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,55,United-States,104040
32420,23,Private,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,50,United-States,34590
32424,35,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,30314
32428,39,Federal-gov,Bachelors,13,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,40,Philippines,23973
32433,41,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,50,United-States,48256
32439,23,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,40,United-States,44106
32455,36,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,50,United-States,126359
32458,36,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,45,United-States,159982
32459,85,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,3,Poland,32233
32461,24,Private,Bachelors,13,Never-married,Machine-op-inspct,Not-in-family,White,Female,32,United-States,27423
32464,45,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,97179
32502,35,Local-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,50,United-States,46244
32507,50,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,40,United-States,33819
32511,25,Local-gov,Bachelors,13,Never-married,Adm-clerical,Own-child,Black,Female,40,United-States,22967
32530,35,?,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,55,United-States,50806
32531,30,?,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,99,United-States,38437
32533,54,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,50,Japan,198066
32536,34,Private,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,55,United-States,122333
32538,38,Private,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,45,United-States,68279

In [0]:
# Extracting the first 5 columns
adult.iloc[:,0:5]

,age,workclass,education,educationyears,maritalstatus
0,39,State-gov,Bachelors,13,Never-married
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse
2,38,Private,HS-grad,9,Divorced
3,53,Private,11th,7,Married-civ-spouse
4,28,Private,Bachelors,13,Married-civ-spouse
5,37,Private,Masters,14,Married-civ-spouse
6,49,Private,9th,5,Married-spouse-absent
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse
8,31,Private,Masters,14,Never-married
9,42,Private,Bachelors,13,Married-civ-spouse
10,37,Private,Some-college,10,Married-civ-spouse
11,30,State-gov,Bachelors,13,Married-civ-spouse
12,23,Private,Bachelors,13,Never-married
13,32,Private,Assoc-acdm,12,Never-married
14,40,Private,Assoc-voc,11,Married-civ-spouse
15,34,Private,7th-8th,4,Married-civ-spouse
16,25,Self-emp-not-inc,HS-grad,9,Never-married
17,32,Private,HS-grad,9,Never-married
18,38,Private,11th,7,Married-civ-spouse
19,43,Self-emp-not-inc,Masters,14,Divorced
20,40,Private,Doctorate,16,Married-civ-spouse
21,54,Private,HS-grad,9,Separated
22,35,Federal-gov,9th,5,Married-civ-spouse
23,43,Private,11th,7,Married-civ-spouse
24,59,Private,HS-grad,9,Divorced
25,56,Local-gov,Bachelors,13,Married-civ-spouse
26,19,Private,HS-grad,9,Never-married
27,54,?,Some-college,10,Married-civ-spouse
28,39,Private,HS-grad,9,Divorced
29,49,Private,HS-grad,9,Married-civ-spouse
...,...,...,...,...,...
32531,30,?,Bachelors,13,Never-married
32532,34,Private,Doctorate,16,Married-civ-spouse
32533,54,Private,Bachelors,13,Married-civ-spouse
32534,37,Private,Some-college,10,Divorced
32535,22,Private,12th,8,Never-married
32536,34,Private,Bachelors,13,Never-married
32537,30,Private,HS-grad,9,Never-married
32538,38,Private,Bachelors,13,Divorced
32539,71,?,Doctorate,16,Married-civ-spouse
32540,45,State-gov,HS-grad,9,Separated
32541,41,?,HS-grad,9,Separated
32542,72,?,HS-grad,9,Married-civ-spouse
32543,45,Local-gov,Assoc-acdm,12,Divorced
32544,31,Private,Masters,14,Divorced
32545,39,Local-gov,Assoc-acdm,12,Married-civ-spouse
32546,37,Private,Assoc-acdm,12,Divorced
32547,43,Private,HS-grad,9,Married-civ-spouse
32548,65,Self-emp-not-inc,Prof-school,15,Never-married
32549,43,State-gov,Some-college,10,Divorced
32550,43,Self-emp-not-inc,Some-college,10,Married-civ-spouse
32551,32,Private,10th,6,Married-civ-spouse
32552,43,Private,Assoc-voc,11,Married-civ-spouse
32553,32,Private,Masters,14,Never-married
32554,53,Private,Masters,14,Married-civ-spouse
32555,22,Private,Some-college,10,Never-married
32556,27,Private,Assoc-acdm,12,Married-civ-spouse
32557,40,Private,HS-grad,9,Married-civ-spouse
32558,58,Private,HS-grad,9,Widowed
32559,22,Private,HS-grad,9,Never-married
32560,52,Self-emp-inc,HS-grad,9,Married-civ-spouse

In [0]:
# Constraining to the first 5 columns and first 5 rows
adult.iloc[0:5,0:5]

   age         workclass  education  educationyears       maritalstatus
0   39         State-gov  Bachelors              13       Never-married
1   50  Self-emp-not-inc  Bachelors              13  Married-civ-spouse
2   38           Private    HS-grad               9            Divorced
3   53           Private       11th               7  Married-civ-spouse
4   28           Private  Bachelors              13  Married-civ-spouse

In [0]:
# Selecting multiple columns at the same time extracts a new DataFrame from your existing DataFrame. 
# For selection of multiple columns, the syntax is: square-brace selection with a list of column names, 
# e.g. data[['column_name_1', 'column_name_2']]
adult[['age','education','sex']]

       age     education     sex
0       39     Bachelors    Male
1       50     Bachelors    Male
2       38       HS-grad    Male
3       53          11th    Male
4       28     Bachelors  Female
5       37       Masters  Female
6       49           9th  Female
7       52       HS-grad    Male
8       31       Masters  Female
9       42     Bachelors    Male
10      37  Some-college    Male
11      30     Bachelors    Male
12      23     Bachelors  Female
13      32    Assoc-acdm    Male
14      40     Assoc-voc    Male
15      34       7th-8th    Male
16      25       HS-grad    Male
17      32       HS-grad    Male
18      38          11th    Male
19      43       Masters  Female
20      40     Doctorate    Male
21      54       HS-grad  Female
22      35           9th    Male
23      43          11th    Male
24      59       HS-grad  Female
25      56     Bachelors    Male
26      19       HS-grad    Male
27      54  Some-college    Male
28      39       HS-grad    Male
29      49       HS-grad    Male
...    ...           ...     ...
32531   30     Bachelors  Female
32532   34     Doctorate    Male
32533   54     Bachelors    Male
32534   37  Some-college  Female
32535   22          12th    Male
32536   34     Bachelors  Female
32537   30       HS-grad    Male
32538   38     Bachelors  Female
32539   71     Doctorate    Male
32540   45       HS-grad  Female
32541   41       HS-grad  Female
32542   72       HS-grad    Male
32543   45    Assoc-acdm  Female
32544   31       Masters  Female
32545   39    Assoc-acdm  Female
32546   37    Assoc-acdm  Female
32547   43       HS-grad    Male
32548   65   Prof-school    Male
32549   43  Some-college  Female
32550   43  Some-college    Male
32551   32          10th    Male
32552   43     Assoc-voc    Male
32553   32       Masters    Male
32554   53       Masters    Male
32555   22  Some-college    Male
32556   27    Assoc-acdm  Female
32557   40       HS-grad    Male
32558   58       HS-grad  Female
32559   22       HS-grad    Male
32560   52       HS-grad  Female

[32561 rows x 3 columns]

In [0]:
# Alternately, using numeric indexing with the iloc selector and a list of column numbers, e.g. data.iloc[:, [0,1,20,22]]
# This allows you to specify colums, as well
adult.iloc[0:5,[0,1,2,3,4]]

   age         workclass  education  educationyears       maritalstatus
0   39         State-gov  Bachelors              13       Never-married
1   50  Self-emp-not-inc  Bachelors              13  Married-civ-spouse
2   38           Private    HS-grad               9            Divorced
3   53           Private       11th               7  Married-civ-spouse
4   28           Private  Bachelors              13  Married-civ-spouse

In [0]:
# Reviewing the datatypes
adult.dtypes

age                int64
workclass         object
education         object
educationyears     int64
maritalstatus     object
occupation        object
relationship      object
race              object
sex               object
hoursperweek       int64
nativecountry     object
incomeUSD          int64
dtype: object

In [0]:
# Making a smaller dataframe with row 77 having ? in workclass and occupation
adult_small=adult.iloc[70:80,0:12]
adult_small

,age,workclass,education,educationyears,maritalstatus,occupation,relationship,race,sex,hoursperweek,nativecountry,incomeUSD
70,19,Private,Some-college,10,Never-married,Prof-specialty,Own-child,White,Male,32,United-States,41013
71,31,Private,Bachelors,13,Separated,Sales,Own-child,Black,Female,40,United-States,33571
72,29,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,70,United-States,190337
73,23,Private,Some-college,10,Never-married,Machine-op-inspct,Not-in-family,White,Male,40,United-States,23773
74,79,Private,Some-college,10,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,20,United-States,49908
75,27,Private,HS-grad,9,Never-married,Other-service,Own-child,White,Male,40,Mexico,34334
76,40,Private,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,White,Male,40,United-States,47470
77,67,?,10th,6,Married-civ-spouse,?,Husband,White,Male,2,United-States,40188
78,18,Private,11th,7,Never-married,Other-service,Own-child,White,Female,22,United-States,44387
79,31,Local-gov,7th-8th,4,Married-civ-spouse,Farming-fishing,Husband,White,Male,40,United-States,40938

In [0]:
# Some review from last week--adult.shape is equivalent to adult.dim in R, showing the dimensions of your dataset
adult_small.shape

(10, 12)

## Data Transformation
We want to transform a categorical attribute, in this case 'race', into a numeric datatype. The Python format for this operation is DataFrame.astype(dtype, copy=True, errors='raise')
In our case, this would be something like 
adult_small.race.astype('int32')
adult_small.race.astype('category')
adult_small.race.astype('category', ordered=True)

In [0]:
adult_small.race.dtypes

dtype('O')

In [0]:
# Transform adult_small.race to numeric
# Since 'race' is of type object, we need to convert it to an ordered categorical attribute in order to obtain the 
# category index numbers
adult_small.race_num=adult_small['race'].astype('category')

# NOTE the error this will produce--R allows automatic column creation and indexing. Pandas does not. We gotta work!

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  after removing the cwd from sys.path.

In [0]:
# Create a new column first and copy the values from 'race' over.
adult_small['race_num'] = adult_small.race.values
adult_small.dtypes[['race','race_num']]

race        object
race_num    object
dtype: object

In [0]:
# Now we convert the race_num values to categorical and then to numeric
# adult_small.race_num=adult_small['race_num'].astype('category', ordered=True)
adult_small['race_num']= adult_small['race_num'].astype('category')
adult_small['race_num']= adult_small['race_num'].cat.codes
adult_small.dtypes[['race','race_num']]

race        object
race_num      int8
dtype: object

In [0]:
adult_small[['race','race_num']]

     race  race_num
70  White         1
71  Black         0
72  White         1
73  White         1
74  White         1
75  White         1
76  White         1
77  White         1
78  White         1
79  White         1

In [0]:
# Now we apply the transformation to the entire adult dataframe.
adult2=adult
adult2['race_num'] = adult2.race.values
adult2['race_num']= adult2['race_num'].astype('category')
adult2['race_num']= adult2['race_num'].cat.codes
adult2.dtypes[['race','race_num']]

race        object
race_num      int8
dtype: object

In [0]:
# We want to find out how pandas has transformed the string to numeric. 
# Making a new dataframe because it's so much easier to work with just 2 attributes
race=adult2[['race','race_num']]
race2=race.drop_duplicates()
race2.sort_values(by=['race_num'])

# As we can see, the index numbers are assigned on an alpha basis, just like in R!

                  race  race_num
15  Amer-Indian-Eskimo         0
11  Asian-Pac-Islander         1
3                Black         2
50               Other         3
0                White         4

## De-Duplication
See the example above. We used the drop_duplicates method.
For more on drop_duplicates() see, https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop_duplicates.html

## Substituting Values in Dataframes
We will try out the df.replace method shown in https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.replace.html. This really convenient method works for strings and numeric values alike.

In [0]:
# Making a new dataframe. Let's look at the workclass attribute
adult3 = adult
adult3.workclass.unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [0]:
# We have a '?' value. Let's make this 'Unknown'
adult3[adult3['workclass'] == '?']

,age,workclass,education,educationyears,maritalstatus,occupation,relationship,race,sex,hoursperweek,nativecountry,incomeUSD,race_num
27,54,?,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,60,South-Africa-Africa,134092,1
61,32,?,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,40,?,21248,4
69,25,?,Some-college,10,Never-married,?,Own-child,White,Male,40,United-States,42975,4
77,67,?,10th,6,Married-civ-spouse,?,Husband,White,Male,2,United-States,40188,4
106,17,?,10th,6,Never-married,?,Own-child,White,Female,32,United-States,47415,4
128,35,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,40,United-States,36062,4
149,43,?,Some-college,10,Divorced,?,Not-in-family,White,Female,40,United-States,26514,4
154,52,?,HS-grad,9,Divorced,?,Not-in-family,White,Male,45,United-States,84775,4
160,68,?,1st-4th,2,Divorced,?,Not-in-family,White,Female,20,United-States,36395,4
187,53,?,Bachelors,13,Divorced,?,Not-in-family,White,Female,50,United-States,34092,4
201,19,?,HS-grad,9,Never-married,?,Own-child,White,Male,40,Italy,23386,4
221,64,?,1st-4th,2,Divorced,?,Not-in-family,White,Male,40,United-States,35099,4
226,60,?,10th,6,Divorced,?,Not-in-family,Amer-Indian-Eskimo,Female,10,United-States,45676,0
243,20,?,Some-college,10,Never-married,?,Own-child,White,Male,20,United-States,37199,4
266,19,?,Some-college,10,Never-married,?,Own-child,White,Male,24,Canada,44458,4
297,39,?,Masters,14,Married-civ-spouse,?,Wife,Asian-Pac-Islander,Female,40,?,26319,1
312,19,?,Some-college,10,Never-married,?,Own-child,Black,Female,25,United-States,38706,2
326,23,?,Assoc-voc,11,Never-married,?,Own-child,Black,Female,15,United-States,37827,2
346,67,?,11th,7,Married-civ-spouse,?,Husband,White,Male,8,United-States,30333,4
347,30,?,Assoc-voc,11,Divorced,?,Unmarried,White,Female,40,United-States,37758,4
354,59,?,Bachelors,13,Married-civ-spouse,?,Husband,White,Male,40,United-States,181063,4
397,20,?,HS-grad,9,Never-married,?,Other-relative,White,Female,35,United-States,37835,4
408,28,?,Some-college,10,Married-civ-spouse,?,Wife,White,Female,40,United-States,169796,4
430,80,?,HS-grad,9,Widowed,?,Not-in-family,White,Male,24,United-States,28736,4
431,17,?,11th,7,Never-married,?,Own-child,White,Male,40,United-States,38513,4
449,17,?,11th,7,Never-married,?,Own-child,White,Female,5,United-States,45631,4
459,32,?,Some-college,10,Married-civ-spouse,?,Husband,White,Male,40,United-States,42091,4
471,22,?,Some-college,10,Never-married,?,Own-child,White,Male,40,United-States,32159,4
484,52,?,12th,8,Never-married,?,Other-relative,Black,Male,40,United-States,27455,2
486,63,?,1st-4th,2,Married-civ-spouse,?,Husband,White,Male,35,United-States,48867,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32016,62,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,40,United-States,101793,4
32039,24,?,HS-grad,9,Never-married,?,Own-child,White,Male,40,United-States,41726,4
32062,26,?,Some-college,10,Never-married,?,Own-child,Asian-Pac-Islander,Male,40,Philippines,28468,1
32070,18,?,HS-grad,9,Never-married,?,Own-child,White,Female,20,United-States,32362,4
32073,65,?,7th-8th,4,Married-civ-spouse,?,Husband,White,Male,25,United-States,45052,4
32075,27,?,Masters,14,Never-married,?,Not-in-family,Other,Female,40,Japan,34987,3
32080,21,?,9th,5,Never-married,?,Own-child,White,Male,42,United-States,34145,4
32083,51,?,HS-grad,9,Divorced,?,Unmarried,Black,Female,40,United-States,34005,2
32088,21,?,HS-grad,9,Never-married,?,Other-relative,Asian-Pac-Islander,Female,24,United-States,47810,1
32093,62,?,Assoc-voc,11,Married-civ-spouse,?,Husband,White,Male,40,Canada,25458,4
32103,34,?,7th-8th,4,Separated,?,Unmarried,Black,Female,40,United-States,37842,2
32189,19,?,HS-grad,9,Married-civ-spouse,?,Wife,White,Female,36,United-States,32758,4
32201,49,?,HS-grad,9,Married-civ-spouse,?,Wife,White,Female,60,United-States,24271,4
32206,72,?,5th-6th,3,Widowed,?,Not-in-family,White,Female,40,United-States,37659,4
32275,20,?,Some-college,10,Never-married,?,Own-child,White,Female,30,United-States,46427,4
32291,59,?,Some-college,10,Never-married,?,Not-in-family,Black,Female,40,United-States,29774,2
32310,21,?,Some-college,10,Never-married,?,Own-child,White,Male,40,United-States,25618,4
32317,63,?,Some-college,10,Divorced,?,Not-in-family,White,Female,5,United-States,27003,4
32335,18,?,11th,7,Never-married,?,Own-child,White,Female,25,United-States,43652,4
32343,66,?,HS-grad,9,Widowed,?,Unmarried,White,Female,40,United-States,40861,4
32426,20,?,HS-grad,9,Never-married,?,Own-child,White,Male,40,United-States,27533,4
32477,49,?,12th,8,Divorced,?,Other-relative,Black,Male,40,United-States,26801,2
32490,60,?,9th,5,Divorced,?,Not-in-family,Black,Male,35,United-States,21230,2
32494,82,?,HS-grad,9,Never-married,?,Not-in-family,White,Male,3,United-States,42783,4
32525,81,?,Assoc-voc,11,Divorced,?,Unmarried,White,Female,1,?,34119,4
32530,35,?,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,55,United-States,50806,4
32531,30,?,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,99,United-States,38437,1
32539,71,?,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,10,United-States,137903,4
32541,41,?,HS-grad,9,Separated,?,Not-in-family,Black,Female,32,United-States,49196,2
32542,72,?,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,25,United-States,41315,4

In [0]:
adult3.workclass.replace('?','Unknown', inplace=True)
adult3[adult3['workclass'] == '?']

Empty DataFrame
Columns: [age, workclass, education, educationyears, maritalstatus, occupation, relationship, race, sex, hoursperweek, nativecountry, incomeUSD, race_num]
Index: []

In [0]:
# Looks like it worked. Let's check if the new value appears in the list of unique values.
adult3.workclass.unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', 'Unknown', 'Self-emp-inc', 'Without-pay',
       'Never-worked'], dtype=object)

In [0]:
# But what about empty values like NA?
adult3.occupation.unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', '?', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [0]:
# Let's set the '?' in occupation to NA, count how many NAs we have, and then replace this value with 'Unknown'

## Dimensionality Reduction
The goal of Dimensionality Reduction is to make our dataset smaller. This can happen as follows:
- Eliminate attributes that are bascially duplicates of one another 
- Aggregate similar attribute levels in one level
- Normalization of values
We will walk through the first two.

In [0]:
# In the adult dataset, 'maritalstatus' and 'relationship' look very closely related. Let's see if we need both of them.
household=adult3[['relationship', 'maritalstatus']]
household.groupby('relationship').sum()

                                                    maritalstatus
relationship
Husband         Married-civ-spouseMarried-civ-spouseMarried-ci...
Not-in-family   Never-marriedDivorcedMarried-spouse-absentNeve...
Other-relative  Married-civ-spouseNever-marriedNever-marriedNe...
Own-child       Never-marriedNever-marriedNever-marriedNever-m...
Unmarried       Never-marriedDivorcedSeparatedDivorcedNever-ma...
Wife            Married-civ-spouseMarried-civ-spouseMarried-AF...

In [0]:
# Looks like 'relationship' may not have been the correct aggregator. Let's try 'maritalstatus'
household.groupby('maritalstatus').sum()

                                                            relationship
maritalstatus
Divorced               Not-in-familyUnmarriedUnmarriedNot-in-familyOw...
Married-AF-spouse      WifeWifeWifeHusbandHusbandHusbandWifeOwn-child...
Married-civ-spouse     HusbandHusbandWifeWifeHusbandHusbandHusbandHus...
Married-spouse-absent  Not-in-familyNot-in-familyUnmarriedNot-in-fami...
Never-married          Not-in-familyNot-in-familyOwn-childNot-in-fami...
Separated              UnmarriedUnmarriedOwn-childUnmarriedOther-rela...
Widowed                UnmarriedUnmarriedNot-in-familyNot-in-familyUn...

In [0]:
# Let's try setting a matrix that shows all unique combinations of 'relationship' and 'maritalstatus'.
# We will use relationship as index and use apply and lambda to sort maritalstatus according to that index.
household2 = household.groupby('relationship').apply(lambda x: x['maritalstatus'].unique())
household2

relationship
Husband                     [Married-civ-spouse, Married-AF-spouse]
Not-in-family     [Never-married, Divorced, Married-spouse-absen...
Other-relative    [Married-civ-spouse, Never-married, Separated,...
Own-child         [Never-married, Divorced, Married-civ-spouse, ...
Unmarried         [Never-married, Divorced, Separated, Widowed, ...
Wife                        [Married-civ-spouse, Married-AF-spouse]
dtype: object

In [0]:
# Can you turn this around and use 'maritalstatus' as index?

Oof. It seems that 'relationship' and 'maritalstatus' are related as subcategories of one another. Unless we join them into the same attribute and create one level per combination, we will need to keep both columns.

In [0]:
# Let's see if 'educationyears' and 'education' are more interchangeable.
degree=adult3[['educationyears', 'education']]
# degree.sort_values('educationyears')  # This gives us the entire list sorted, but we want to display the unique values
# degree.groupby('educationyears').sum() # That's what we had before--we can do better!
# Let's try setting a matrix that is indexed by educationyears. This is what apply and lambda x do. 
degree2 = degree.groupby('educationyears').apply(lambda x: x['education'].unique())
degree2

educationyears
1        [Preschool]
2          [1st-4th]
3          [5th-6th]
4          [7th-8th]
5              [9th]
6             [10th]
7             [11th]
8             [12th]
9          [HS-grad]
10    [Some-college]
11       [Assoc-voc]
12      [Assoc-acdm]
13       [Bachelors]
14         [Masters]
15     [Prof-school]
16       [Doctorate]
dtype: object

In [0]:
# Can you turn this around and use 'education' as index?

In contrast to 'maritalstatus' and 'relationship, it seems that 'educationyears' and 'education' are unqiuely related. This means we need only one of these columns. Since working with numbers is always easier, we choose 'educationyears' and will eliminate 'education'.
To drop a columns, we can use a couple of methods:
1. We can rebuild the dataframe (or a different dataframe) with only the columsn that we want, for example: adult4=adult3[['age','race','sex','educationyears','income']]--that kind of thing
2. We can use the pandas drop function as explained here: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html. Another explanation with a data frame sample is here: http://cmdlinetips.com/2018/04/how-to-drop-one-or-more-columns-in-pandas-dataframe/.  This is a better way to modify your dataframe.

In [0]:
# Build an adult4 dataframe that contains all columns of the adult3 dataframe EXCEPT 'education'

Rows can also be removed using the “drop” function, by specifying axis=0. Drop() removes rows based on “labels”, rather than numeric indexing. To delete rows based on their numeric position / index, use iloc to reassign the dataframe values, as in the examples below.
Delete the rows with labels 0,1,5
>>adult5 = adult3.drop([0,1,2], axis=0)
Delete the rows with label 'white'
For label-based deletion, set the index first on the dataframe:
>>adult5 = adult3.set_index('race')
>>adult5 = adult3.drop('white', axis=0). # Delete all rows with label 'white'
Delete the first five rows using iloc selector
>>adult5 = adult3.iloc[5:,]

In [0]:
# Build an adult5 dataframe that contains only rows of non-white races

## Discretization
In the 'workclass' attribute, we have 9 categories. Can we reduce those to the following:
- Unknown--contains all Unknown, Never-worked, and Without-pay
- Government--contains all Federal, State, and Local government employees
- Self--contains all self-employed groups

In [0]:
# You already know how to replace strings, try this here with the Unknown category!

In [0]:
# Research another way to craete subgroups (hint: consult the R file for this week) and apply this to the Self category.

For Government, would binning be the correct strategy? https://stackoverflow.com/questions/45273731/binning-column-with-python-pandas. If not, what other attribute in the dataframe could lend itself to binning?

In [0]:
# Use your favorite strategy to work with the Government category.